*~
configure
config.h.in
config.log
Makefile.in
autom4te.cache
aclocal.m4
.libs
.deps
config/*
libgdsync.spec
libtool
.depend*

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# Editor files
*.swp
